.blank-content

.mypage-body
  .mypage-user
    .mypage-user__image
      %i.fas.fa-camera
    .mypage-user__name.bold
      = @nickname
      .mypage-user__sub
        さんのマイページ

  .mypage-box
    .mypage-post
      .mypage-post__title.bold
        投稿
      .mypage-post__content

    .mypage-left
      .mypage-left__list
        = link_to "投稿", users_show_path(current_user.id)
      .mypage-left__list
        = link_to "#" do
          ブックマーク
      .mypage-left__list
        = link_to "#" do
          閲覧履歴
      .mypage-left__list
        = link_to "#" do
          ユーザー設定

  
.blank-content