.blank-content

.pass-body
  %h2.pass-form 
    パスワードをお忘れですか？
    
  .pass-item
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "新規パスワードの設定へ"
    
    = render "devise/shared/links"