.container

  .container-user
    - if current_user
      = form_with(model: [@book, @comment], local: true, id: "new_comment") do |form|
        .comment-send
          = form.text_area :text, placeholder: "コメントする" , rows: "2", class: "comment-box"
          = form.submit "送信", class: "comment-submit"
    - else
      %strong
        %p.not-user
          ※※※ コメントの投稿には 新規登録 又は ログイン が必要です ※※※
          %br
            .not-user__2
              ⬇︎より新規登録又はログインが可能です
        %ul.comment-userlog
          %li.comment-userlog__login
            = link_to new_user_session_path do
              ログイン
          %li.comment-userlog__new
            = link_to new_user_registration_path do
              新規会員登録

  .book-comment
    .book-comment__titel.bold
      コメント一覧
    .book-comment__area
      - if @comments
        - @comments.each do |comment|
          %p.comment-user__box
            .comment-user__image
              = comment.user.image_avatar
              .comment-user__kari
                no image
            .comment-user__ni
              = link_to comment.user.nickname, "/users/(#{comment.user_id});", class: "comment-user__small"
            .comment-user__text
              = comment.text
      - else
        %strong
          %p.no-comment
            コメントがありません。