.container
  - if current_user
    = form_with(model: [@book, @comment], local: true, id: "new_comment") do |form|
      .comment-send
        = form.text_area :text, placeholder: "コメントする" , rows: "2", class: "comment-box"
        = form.submit "送信", class: "comment-submit"
  - else
    %strong
      %p.not-user
        ※※※ コメントの投稿には 新規登録 又は ログイン が必要です ※※※
        %ul.comment-userlog
          - if (user_signed_in?)
            %li.comment-userlog__logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            %li.comment-userlog__mypage
              = link_to "マイページ", users_show_path(current_user.id)
          - else
            %li.comment-userlog__login
              = link_to new_user_session_path do
                ログイン
            %li.comment-userlog__new
              = link_to new_user_registration_path do
                新規会員登録

  .book-comment
    コメント一覧
    .book-comment__area
      - if @comments
        - @comments.each do |comment|
          %p.comment-user_ni
            %strong
              = link_to comment.user.nickname, "/users/(#{comment.user_id});", class: "comment-user_small"
            .comment-user_text
              = comment.text
              .comment-user_image
                = link_to comment.user.image_avatar, "/users/(#{comment.user_id});"
      - else
        %strong
          %p.no-comment
            コメントがありません。