.box
  .wave.-one
  .wave.-two
  .wave.-three
  .title
    ー BOOK BOX ー
  .title-line
    ーー・・・・・・・・・・・・・・・・・・・・・・ーー
  .sub-title
    あなたオススメの本を世界へ届けよう

%section.point
  .top-handling__contents
    %section.top-handling__list
      %fugure.top-handling__iamge
        (仮置き)
      %h3.top-handling__sub
        皆に知って欲しい本
        %br
        ありませんか？
  .top-handling__contents
    %section.top-handling__list
      %fugure.top-handling__iamge
        (仮置き)
      %h3.top-handling__sub
        投稿してみましょう！
  .top-handling__contents
    %section.top-handling__list
      %fugure.top-handling__iamge
        (仮置き)
      %h3.top-handling__sub
        趣味を共有できるかも
        %br
        しれません

.book-post__contents
  .book-post__new
    新規投稿
  .contents.row
    - @books.each do |book|
      .content-post{:style => "background-image: url(#{book.image});"}
      .content-post__list
        %ul.content-post__left
          %li.post-left
            タイトル
          %li.post-left__long
            ジャンル
          %li.post-left
            著者
        %ul.content-post__right
          %li.post-right
            = link_to book_path(book.id) do
              = simple_format(book.book_name)
          %li.post-right__long
            .post-right__genre
              = "#{book.book_genre.parent.parent.name}" 
            .post-right__genre
              %span{style: "color: #8e8e8e"} >
              = "#{book.book_genre.parent.name}"
            .post-right__genre
              %span{style: "color: #8e8e8e"} >
              = "#{book.book_genre.name}"
          %li.post-right
            = book.author

.blank-content

.footer-line

%footer
  %p.footer-item.bold
    = link_to root_path do
      BOOK BOX.

= link_to new_book_path do
  .post-btn
    %span.post-btn__text
      投稿する
    .post-btn__icon
      = image_tag('bookcomment.png', class: "post-btn__image")