.box
  .wave.-one
  .wave.-two
  .wave.-three
  .title
    ー Book BOX ー
  .title-line
    ーー・・・・・・・・・・・・・・・・・・・・・・ーー
  .sub-title
    あなたオススメの本を共有しよう
    
%section.top-handling
  .top-handling__contents
    %section.top-handling__list
      %fugure.top-handling__iamge
        = image_tag('top-image1.jpg', class: "top-image")
      %h3.top-handling__sub
        知って欲しい本
        %br
        ありませんか？
  .top-handling__contents
    %section.top-handling__list
      %fugure.top-handling__iamge
        = image_tag('top-image2.jpg', class: "top-image")
      %h3.top-handling__sub
        投稿してみましょう！
  .top-handling__contents
    %section.top-handling__list
      %fugure.top-handling__iamge
        = image_tag('top-image3.jpg', class: "top-image")
      %h3.top-handling__sub
        コメントして
        %br
        趣味を共有してみませんか？
= render partial: 'backline'

.book-post__contents
  .book-post__new
    新規投稿
  .contents.row
    = render partial: 'bookpost'

.blank-content
= render partial: 'backline'

.footer-line
%footer
  %p.footer-item.bold
    = link_to root_path do
      Book BOX...

= link_to new_book_path do
  .post-btn
    %span.post-btn__text
      投稿する
    .post-btn__icon
      = image_tag('bookpost.png', class: "post-btn__image")