.blank-content

.book-new__contents
  .book-new__back
    .book_form
      = form_for @book do |f|
        .book-new_label
          %h3.book-newpost
            投稿

        .book-name
          .book-name__form.bold
            .book-name__label
              タイトル
              %span.require
                必須
            %br/
            = f.text_field :book_name, {include_blank: '100文字以内'}
          
          .book-author
            .book-author__label.bold
              著者
              %span.require
                必須
            %br/
            = f.text_field :author, {include_blank: '100文字以内'}
          
          .book-publication
            .book-publication__label.bold
              出版
              %span.require
                必須
            %br/
            = f.text_field :publication
          
          .listing-book-detail__genre.bold
            = f.label 'ジャンル', class: 'listing-default__label'
            %span.require 必須
            .listing-select-wrapper
              .listing-select-wrapper__box
                = f.select :book_genre_id, @book_genre.map {|n| [n.name,n.id]}, {include_blank: '選択してください'}, {class: 'listing-select-wrapper__box--select', id: 'parent_genre'}
          
          .book-image
            .book-image__label.bold
              本の表紙
              %span.require
                必須
            %br/
            .label-content
              = f.label :image, class: "image-field" do
                .label-box
                  %i.far.fa-image
                    選択
                  = f.file_field :image
          
          .book-synopsis
            .book-synopsis__label.bold
              あらすじ
              %span.require
                必須
            %br/
            = f.text_area :synopsis, class: "long-field", {include_blank: '10000文字以内'}
          
          .book-review
            .book-review__label.bold
              感想
              %span.require
                必須
            %br/
            = f.text_area :review, class: "long-field", {include_blank: '10000文字以内'}
          
          .book-price
            .book-price__label.bold
              価格(税抜き)
              %span.require
                必須
            %br/
            = f.number_field :price, class: "price-field", {include_blank: '1〜99999999'}
            
        .btn
          .exhibition_btn
            = f.submit "投稿"

.blank-content