.blank-content

.book-sh__page
  .book-sh__title
    タイトル
  .book-sh__name
    = @book.book_name
    .book-sh__usertitle
      投稿者:
      .book-sh__usernick
        = link_to users_show_path(@book.user.id) do
          = @book.user.nickname
  .book-sh__image{style: "background-image: url(#{@book.image});"}
  
  .book-sh__table
    %ul.book-data__list.bold
      %li.data-list
        著者
      %li.data-list
        出版
      %li.data-list
        ジャンル
      %li.data-list__long
        あらすじ
      %li.data-list__long
        感想
      %li.data-list
        価格(税抜き)
        
    %ul.book-detail__list
      %li.detail-list
        = @book.author
      %li.detail-list
        = @book.publication
      %li.detail-list
        = "#{@book.book_genre.parent.parent.name} > #{@book.book_genre.parent.name} > #{@book.book_genre.name}"
      %li.detail-list__long
        = @book.synopsis
      %li.detail-list__long
        = @book.review
      %li.detail-list
        = @book.price

= render partial: 'comment'

.blank-content