.blank-content

.book-sh__page
  .book-sh__title
    タイトル
  .book-sh__name
    = @book.book_name
  .book-sh__image
    = image_tag "/public/uploads/book/image/#{@book.image}", size: "210x280"
  .book-sh__table
    %ul.book-data__list
      %li.data-list
        著者
      %li.data-list
        出版
      %li.data-list
        ジャンル
      %li.data-list__long
        あらすじ
      %li.data-list__long
        感想
      %li.data-list
        値段
    %ul.book-detail__list
      %li.detail-list
        = @book.author
      %li.detail-list
        = @book.publication
      %li.detail-list
        = "#{@book.book_genre.parent.parent.name} ＞ #{@book.book_genre.parent.name} ＞ #{@book.book_genre.name}"
      %li.detail-list__long
        = @book.synopsis
      %li.detail-list__long
        = @book.review
      %li.detail-list
        = @book.price

.container
  - if current_user
    = form_with(model: [@book, @comment], local: true, id: "new_comment") do |form|
      = form.text_area :text, placeholder: "コメントする" , rows: "2", class: "comment-box"
      = form.submit "送信", class: "comment-submit"
  - else
    %strong
      %p.not-user
        ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

  .book-comment
    コメント一覧
    .book-comment__area
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/(#{comment.user_id});"
            = comment.text
      - else
        %strong
          %p.no-comment
            コメントがありません。

.blank-content